# pixi environments
.pixi/
!.pixi/config.toml
pixi.lock
pixi.toml

# json cache files
cache/

# ipynb checkpoints
.ipynb_checkpoints/

# .vscode settings
.vscode/

# Lecture notebooks for inspiration
notebooks/lectures_and_exercises/

#data
data/
